{% extends "Authentication/base.html" %}

{% load static %}


{% block title %}Login{% endblock title %}


{% block otherlinks %}

<script defer src="{% static 'Authentication/js/new_password.js' %}"></script>

{% endblock otherlinks %}


{% block content %}


<div class="card-inside">

  <div class="card-logo">

    <img src="{% static 'Authentication/images/imagefav.png' %}" alt="">

  </div>

  <div class="card-text">

    Trouble logging in, you can easily request for a new password to be sent to your email

  </div>

  <div class="card-message {{ m_type }}">

    <span id="cd-message">{{ message }}</span>

    <span id="card-close">

      <i class="js-crossx"></i>

    </span>

  </div>

  <div class="card-form">

    <form method="POST" action="{% url 'authviews:new_password'  %}" id="sendform">

      {% csrf_token %}

      <div class="form-item">

        <input type="text" required name="username" autocomplete="off" id="usernameField" placeholder="Username or Email" class="basic-input">

        <small id="nameField-text"></small>

      </div>

      <div class="form-item">

        <input type="submit" value="Send" class="form-button">

      </div>

    </form>

  </div>

  <div class="card-or-else">

    <div class="or-for-form">

      <span class="flat-border"></span>

      <span class="the-or">OR</span>

      <span class="flat-border"></span>

    </div>

    <div class="other-or">

      <a href="{% url 'authviews:login' %}">Login</a>

      <a href="{% url 'authviews:register' %}">Create an Account</a>

    </div>

  </div>

</div>


{% endblock content %}